matrices.bak
exercise_8.bak
exercise_7.bak
exercise_6.bak
exercise_5.bak
exercise_4.bak
exercise_3.bak
exercise_2.bak
exercise_1.bak
*.bak

templates.bak
templates.rkt

test.bak
test.rkt

test-tests.bak
test-tests.rkt

lists-test.bak
lists-test.rkt

lists-complete.bak